@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保 iOS 上的安全区域适配 */
@supports (padding-top: env(safe-area-inset-top)) {
  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
}